<div class="uk-grid uk-grid-collapse uk-margin-bottom">
    <h2 class="visuallyhidden">Join {{ site.author.name }}'s Private Email List</h2>
  <div class="uk-width-1-6">
    <a href="http://feeds.feedburner.com/CBTelemann"><i class="rss fas fa-rss-square fa-lg" aria-hidden="true"></i></a>
  </div>
  <div class="uk-width-1-6">
    <span class="sans-serif light">or</span>
  </div>
  <div class="uk-width-2-3">
    <a class="uk-button subscribe uk-button-primary uk-width-1-1" href="#subscribe" uk-toggle>Subscribe</i>
  </a>
  </div>
</div>
