<div class="uk-transition-fade uk-position-top-left uk-margin-medium-top uk-margin-medium-left">

  <a href="https://www.pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&media=https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/c_limit,f_auto,q_auto:best,w_800/{{ image }}" class="uk-icon-button uk-button-primary uk-margin-small-right pin"
    uk-icon="icon: pinterest" data-pin-do="buttonPin" data-pin-save="true" data-pin-media="https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/c_limit,f_auto,q_auto:best,w_800/{{ image }}" data-pin-description="{{ page.title }} by C.B. Telemann"
    data-pin-id="{{ site.url }}{{ page.url }}" data-pin-custom="true"></a>
</div>
</div>
</div>
</div>
