{% if include.foo %}
{% assign tarot = include.foo %}
{% assign imgNum = 1 %}
{% endif %}

{% if include.foo2 %}
{% assign tarot = include.foo2 %}
{% assign imgNum = 2 %}
{% endif %}

{% if include.foo3 %}
{% assign tarot = include.foo3 %}
{% assign imgNum = 3 %}
{% endif %}

<img itemprop="image"
src="https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/c_limit,f_auto,q_auto:best,w_800/{{ site.data.tarot-upright[tarot] }}" srcset="https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/c_limit,f_auto,q_auto:best,w_320/{{ site.data.tarot-upright[tarot] }} 320w, https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/c_limit,f_auto,q_auto:best,w_640/{{ site.data.tarot-upright[tarot] }} 640w, https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/c_limit,f_auto,q_auto:best,w_960/{{ site.data.tarot-upright[tarot] }} 960w, https://res.cloudinary.com/{{ site.cloudinary-name }}/image/upload/c_limit,f_auto,q_auto:best,w_1100/{{ site.data.tarot-upright[tarot] }} 1100w" sizes="(min-width: 50rem) 50rem, 90vw" class="tarot-card-{{ imgNum }}" alt="{{ alt }}" width="1100" height="732">
