{% if page.auto-page %}
{% include breadcrumb.html %}
<!-- <p class="uk-h2 uk-text-center uk-margin-remove small">Filed Under</p> -->
<p class="uk-h1 uk-text-center">{{ page.autopages.display_name }}</p>
<hr class="uk-margin-bottom"/>
{% endif %}
<ul class="uk-list all-posts">
  <h2 class="visuallyhidden">
{{ page.pagination.category | capitalize }}
  </h2>
  {% if page.title == "US Money" %}
  {% include post-lists/list-of-all-chapters.html %}
{% elsif page.autopages.display_name contains "chapter" %}
  {% assign sorted = paginator.posts | sort:"section-number" %}
  {% for post in sorted %}
    {% include post-lists/list-of-all-posts.html %}
  {% endfor %}
{% else %}
  {% for post in paginator.posts %}
    {% include post-lists/list-of-all-posts.html %}
  {% endfor %}
    {% endif %}

</ul>
