{% if page.auto-page %}
<p class="uk-h2 uk-text-center uk-margin-remove small">Filed Under</p>
<p class="uk-h1 uk-text-center">{{ page.autopages.display_name }}</p>
<hr class="uk-margin-bottom"/>
{% endif %}
<ul class="uk-list all-posts">
  <h2 class="visuallyhidden">
{{ page.pagination.category | capitalize }}
  </h2>
  {% for post in paginator.posts %}
    {% if page.nav-text == "Calendars" %}
    {% include post-lists/list-of-all-calendars.html %}
    {% else  %}
    {% include post-lists/list-of-all-posts.html %}
    {% endif %}
  {% endfor %}
</ul>
