::-moz-selection {
  background: $highlight;
  color: $black;
}

::selection {
  background: $highlight;
  color: $black;
}

html {
  overflow-y: scroll;
}

body {
  overflow: hidden;
  background: $background-color;
  position: relative;
}

.wrap, .site, main {
  position: relative;
}

.content {
  word-wrap: break-word;
}

.uk-divider-small {
  margin: 1.25em 0;
  color: $light-grey;
}
//
// .uk-divider-small::after, .uk-hr, hr {
//   border-top: $gold 1px solid;
// }


.headings {
  border-top: goldenrod 5px solid;
  border-bottom: goldenrod 5px solid;
  padding: 1em 0 .7em;
}
