#to-top-wrap {
  // margin-left: 0;
  // padding: 0;
  // left: -6px;
}

footer .uk-subnav > * {
  padding-left: 0;
}

#to-top-btn {
  position: relative;
top: 1px;
margin-right: 13px;
    // background: #fffff8;
}

// .to-bottom, .to-bottom:hover {
//       background: #fffff8;
// }

footer .uk-subnav {
  margin-left: 0;
}

@media screen and (max-width: 400px) {
  // footer {
  //   margin: 0 2px !important;
  // }
}
