---
layout: default
---

<article class="post content" itemid="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
  <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
  <header class="post-header uk-text-center">
    {% if page.image %}
{% assign image = page.image %}
{% include content-blocks/main/image.html image=image %}
    {% endif %}

    <h1 class="uk-h1 {% if page.image %} uk-margin-medium-top {% endif %} uk-margin-remove-bottom" itemprop="name headline">
      {{ page.title | markdownify | markdownify | replace: '<p>', '' | replace: '</p>', '' | widont }}
  </h1>
    <p class="post-meta uk-margin-top uk-margin-remove-bottom">
      by
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">
        {% if page.author %}
        {{ page.author }}
        {% else %}
        {{ site.author.name }}
        {% endif %}
        </span>
      </span>
    </p>
    <p class="uk-text-center italic">
      {% assign words = page.content | number_of_words %}
      <span class="visuallyhidden" itemprop="wordCount">{{ words }}</span> {% if words
      < 360 %} 1 minute {% else %} {{ words | divided_by:180 }} minute {% endif %} read </p>
      <hr class="uk-divider-small uk-text-center" />
      {% if page.download %}
      {% include file-downloads.html %}
      <hr class="uk-divider-small uk-text-center" />
      {% endif %}
      {% if page.share %}
      {% include content-blocks/main/social/social-share.html %}
      {% endif %}
  </header>
  <div class="post-content {% if page.categories contains "meditations" %}
  meditations {% else %} default
{% endif %}" itemprop="articleBody">
    {{ content }}
    {% if page.start %}
    {% assign chapter-number = 1 %}
    {% else %}
    {% assign chapter-number = page.chapter-number %}
    {% endif %}
    {% unless page.end %}
  <a href="{{ site.url }}/book/chapter-{{ chapter-number }}/section-{{ chapter-number }}-{{ page.next-section }}">Next: Section {{ chapter-number }}.{{ page.next-section }} <span uk-icon="arrow-right"></span></a>
    {% endunless %}
      <hr class="uk-divider-small uk-text-center" />
    {% if page.share %}
    {% include content-blocks/main/social/social-share.html %}
    {% endif %}
  </div>
</article>
