---
layout: default
---
{% assign image = page.image %}
<article class="post content" itemid="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
  <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
  <header class="post-header uk-text-center">
    {% include content-blocks/main/image.html image=image %}
    <h1 class="uk-h1 {% if page.image %} uk-margin-medium-top {% endif %} uk-margin-remove-bottom" itemprop="name headline">
{% if page.tags contains "tarot" %}
    {{ page.title | truncate: 25, "" | markdownify | markdownify | replace: '<p>', '' | replace: '</p>', '' | widont }}
{% else %}
      {{ page.title | markdownify | markdownify | replace: '<p>', '' | replace: '</p>', '' | widont }}

    {% endif %}
  </h1>
    <hr class="uk-divider-small uk-text-center" />
    <p class="post-meta uk-margin-remove">
      <i>by</i>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">
        {% if page.author %}
        {{ page.author }}
        {% else %}
        {{ site.author.name }}
        {% endif %}
        </span>
      </span>
      {% if page.translator %}
      <br />
      <span><i>translated by</i>
      {{ page.translator | widont }}</span>
      {% endif %}
      {% if page.author %}
      <br /><i>posted by</i>
      {{ site.author.name | widont }}
      <i>on</i>
      {% else %}
      <i>on</i>
      {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" | widont }}</time>
    </p>
    <p class="uk-text-center italic">
      {% assign words = page.content | number_of_words %}
      <span class="visuallyhidden" itemprop="wordCount">{{ words }}</span> {% if words
      < 360 %} 1 minute {% else %} {{ words | divided_by:180 }} minute {% endif %} read </p>
      <hr class="uk-divider-small uk-text-center" />
      {% if page.download %}
      {% include file-downloads.html %}
      <hr class="uk-divider-small uk-text-center" />
      {% endif %}
  </header>
  <div class="post-content {% if page.categories contains "meditations" %}
  meditations {% else %} default
{% endif %} uk-dropcap" itemprop="articleBody">
    {{ content }}
  </div>
</article>
