<h1>US Money</h1>
<ul class="uk-margin-medium-bottom uk-padding-remove-left" uk-accordion>
{% for i in (1..10) %}
{% assign myPosts = paginator.posts | where:"chapter-number", i %}
<li>
<h3 class="uk-accordion-title">
  Chapter {{ i }} &ndash; {{ site.data.chapter-titles[i]}}
</h3>
<div class="uk-accordion-content">
  {% for post in myPosts %}
  <a class="post-link uk-text-center" href="{{ post.url | relative_url }}"><p>
    {{ post.title }}
  </p>
  <p class="excerpt uk-text-left">{{ post.content | strip_html | truncatewords: 20 }}</p>
  </a>
  {% endfor %}
</div>
</li>
{% endfor %}
</ul>
