<h1>US Money</h1>
<ul class="uk-margin-medium-bottom uk-padding-remove-left" uk-accordion>
  {% for i in (1..10) %}
  {% assign myPosts = paginator.posts | where:"chapter-number", i %}
    <li>
        <a class="uk-accordion-title" href="#">Chapter {{ i }} &ndash; {{ site.data.chapter-titles[i]}}</a>
        <div class="uk-accordion-content">
          {% for post in myPosts %}
          <a class="uk-margin-remove" href="{{ post.url | relative_url }}"><div>
          <span class=" uk-text-uppercase">Section {{ post.chapter-number}}.{{ post.section-number }} &ndash;
            {{ post.title }}</span><br />
      {{ post.content | strip_html | truncatewords: 40 }}</p>
          </a>
          {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>
