{% if page.title == "US Money" %}
<h1>US Money</h1>
<div class="acknowledgments uk-margin">
     <a href="/book/acknowledgements/">Acknowledgements&ensp;<span uk-icon="arrow-right"></span></a>
</div>
{% endif %}

{% assign open1 = page.pagination.category | remove: "chapter-" %}

{% assign open = open1 | plus:0 %}

{% if page.pagination.category contains "chapter" %}
<div class="uk-margin-bottom">
  {{ site.data.book.chapters[open].summary }}
</div>
{% endif %}

{% assign sortedPosts = paginator.posts | sort:"section-number" %}
<ul class="uk-margin-medium-bottom uk-padding-remove-left" uk-accordion>
  {% if page.title == "US Money" %}

  {% for i in (1..10) %}
  {% assign myPost = sortedPosts | where:"chapter-number", i %}
  <li class="{% if i == open %}uk-open{% endif %}">
      <a class="uk-accordion-title" href="#">Chapter {{ i }} &ndash; {{ site.data.book.chapters[i].name }}</a>
      <div class="uk-accordion-content">
        {% for post in myPost %}
        <div>
        <span class=" uk-text-uppercase">Section {{ post.section-number }} &ndash;
          <a class="uk-margin-remove" href="{{ post.url | relative_url }}">{{ post.title }}</span>&ensp;<span uk-icon="arrow-right"></span> </a>
        {% endfor %}
      </div>
  </li>
  {% endfor %}
  {% else %}
  {% assign myPost = sortedPosts | where:"chapter-number", open %}
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Chapter {{ open }} &ndash; {{ site.data.book.chapters[open].name }}</a>
        <div class="uk-accordion-content">
          {% for post in myPost %}
          <div>
          <a class="uk-margin-remove" href="{{ post.url | relative_url }}"><span class=" uk-text-uppercase">Section {{ post.section-number }} &ndash; {{ post.title }}</span>&ensp;<span uk-icon="arrow-right"></span></a>
          {% endfor %}
        </div>
    </li>
    {% endif %}
</ul>
