  <li class="uk-margin-remove-top">
    <a class="post-link uk-text-center" href="{{ post.url | relative_url }}">
      {% if post.image %}
      {% assign img = post.image %}
      {% include content-blocks/main/image.html image=img %}
      {% endif %}
      <h3 class="uk-h1 uk-margin-medium-top uk-margin-remove-bottom">
        Section {{ post.chapter-number}}.{{ post.section-number }} &ndash;
          {{ post.title }}
      </h3>
      <hr class="uk-divider-small uk-text-center" />
      <p class="post-meta">
        {% if post.author %}
        <i>posted by</i>
          {% else %}
        <i>by</i>
        {% endif %}
         <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.author.name }}</span></span> <i>on</i> <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time>
        </p>
      <p class="excerpt uk-text-left">{{ post.content | strip_html | truncatewords: 50 }}</p>
      <button class="button-in-text uk-button uk-button-default uk-align-center"uk-icon="icon: arrow-right">Read More&ensp;</button>
      </a>
      {% if forloop.last == true %}
{% else %}
    <hr />
{% endif %}
  </li>
