{% if page.auto-page %}
<p class="uk-h2 uk-margin-remove small">Filed Under</p>
<p class="uk-h1">{{ page.autopages.display_name }}</p>
<hr class="uk-margin-bottom"/>
{% endif %}

<ul class="uk-list all-posts">
  {% if page.pagination.category %}
  <h2 class="uk-h2">
    {{ page.title }}
  </h2>
  {% endif %}
  {% if page.title == "US Money" or page.pagination.category contains "chapter" %}
  {% include content-blocks/main/post-lists/list-of-all-chapters.html %}
{% else %}
  {% for post in paginator.posts %}
    {% include content-blocks/main/post-lists/list-of-all-posts.html %}
  {% endfor %}
    {% endif %}
</ul>
