{% assign pageComments = site.book-reviews | where:"slug", page.slug %}
{% assign comments = pageComments | where_exp:"item", "item.replying_to == blank" %}
<section>
<h3 class="uk-h2">Reviews</h3>
<hr class="uk-divider-small uk-text-center" />
{% if comments.size >= 1 %}
<ul class="comments uk-list uk-list-divider uk-margin-medium-bottom">
{% for comment in comments %}
{% if comment.approved == true %}
  {% assign index       = forloop.index %}
  {% assign r           = comment.replying_to %}
  {% assign replying_to = r | to_integer %}
  {% assign avatar = comment.avatar %}
  {% assign email = comment.email %}
  {% assign name = comment.name %}
  {% assign date = comment.date %}
  {% assign message = comment.content %}
  {% include content-blocks/cta/reviews/review.html index=forloop.index avatar=avatar replying_to=replying_to  email=email name=name date=date message=message %}
  {% endif %}
{% endfor %}
</ul>
{% endif %}
{% if page.comment-locked == nil or page.comment-locked == false %}
  {% include content-blocks/cta/reviews/review-form.html %}
{% endif %}
</section>
