{% unless page.right-aside-bottom == false %}
{% if page.lead-id == nil and page.comments == false %}
{% else %}
<aside class="uk-width-2-5@l uk-width-2-5@m  uk-width-2-5@s uk-margin-xlarge-top uk-visible@s">
  <div style="z-index:1;" uk-sticky="bottom: true; offset: 150;">
    <h1 class="visuallyhidden">Bottom Aside</h1> {% unless page.right-aside-bottom == false %}
    <div uk-scrollspy="cls:uk-animation-slide-right; delay:500">
      {% include content-blocks/aside/content/right-aside-cta.html %}
    </div>
    {% endunless %}
  </div>
</aside>
{% endif %}
{% endunless %}
