<div class="uk-width-1-1@s uk-width-1-6@m uk-width-1-6@l uk-flex-first@l uk-visible@l">
  {% unless page.left-aside == false %}
  <div class="uk-margin-xlarge-top" style="z-index:80;" uk-sticky="offset: 150;bottom: true; media:960;">
      <a class="" href="#subscribe" uk-toggle>
          Subscribe
      </a>
    {% include content-blocks/lead/subscribe-form-popup.html %}
  </div>

  <!--sidebar no-smooth envelope style="z-index:80;" uk-sticky="offset: 150;bottom: true; media:960; animation: uk-animation-slide-top;" -->

  {% endunless %}
</div>
